html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Ultra', serif;
    color: #1E1E1E;
}

.root {
    width: 100%;
}

.App {
    height: 100%;
}

html {
    background-color: ghostwhite;

}

.footer {
    text-align: center;
    clear: both;
    background-color: darkslategray;
    position:fixed;
    bottom:0px;
    width: 100%;
}

.footer p {
    text-align: center;
    font-size: x-large;
    margin: 10px;
    color: white;
    
}

.footer div {
    text-align: center;
    font-size: larger;
    color: lightblue;
    padding-bottom: 5px;
}

.welcome {
    text-align: center;
    margin: 10%;
    height: 100%;
}

.welcome p {
    font-size: large;
}


.footer img {
    position:fixed;
    bottom:0px;
    left:30%;

    width: 40%;
}

img {
    height: 125px;
    width: auto;
}

#inputbar {
    text-align: center;
    border: 2px solid black;
    padding-bottom: 20px;
    background-color: lightgrey;
}

.sign-container {
    width: 100%;
    overflow-y: auto;
    height: 540px;
}

.card {
    float: left;
    width: 12.5%;
    outline-offset: -1px;
    outline: 1px solid black;
    height: 270px;
    background-color: white;
}

header {
    height: 40px;
    background-color: darkslategray;
   
}

.card p {
    text-align: center;
    height: 70px;
}

.card-images {
    text-align: center;
    width: 100%;
}

nav#navbar{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    
}

.forms {
    text-align: center;
}

.link {
    color: white;
    margin: 5%;
    text-align: center;
    display: inline;
    font-size: x-large;
    
}

td {
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    outline-offset: -2px;
    width: 125px;
    height: 125px;
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin: auto;
}

table {
    text-align: center;
    margin: auto;
    
}

td img {
    max-width: 100%;
    max-height: 100%;
    
}

.practice-select {
    height: auto;
    padding: 10px;
}

.practice-game {
    overflow-y: auto;
    margin-bottom: 125px;
    text-align: center;
}

.filter{
    text-align: center;
    padding-bottom: 10px;
}

.glossary{
    padding-bottom: 125px;
}

.glossarytable{
    width: 600px;
}

.glossaryheader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(0, 94, 94);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}